:root {
  /* colors */
  --checkbox-blue: #3c88fd;
  --cbl-bg-gray: #fafafa;
  --cbl-white: white;
  --cbl-text: #505e71;
  --cbl-code-bg: #f1f1f1;
  --demo-focus-color: #005DC8;

  /* fonts */
  --cbl-display-font: 'Blinker', /*iOS*/ "AvenirNextCondensed-Bold", /*MacOSX*/ 'HelveticaNeue-CondensedBold', /*Ubuntu*/ "Ubuntu Condensed", "Liberation Sans Narrow",  /*Windows*/ "Franklin Gothic Demi Cond", "Arial Narrow", /*Android*/ sans-serif-condensed, /*Fallback*/Arial, "Trebuchet MS", "Lucida Grande", Tahoma, Verdana, sans-serif;
  --cbl-body-font: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  --cbl-monospace: 'Inconsolata', 'Menlo', 'Courier New', 'Courier', monospace;

  /* widths */
  --sidebar-width: 200px;
  --demo-option-border-thickness: 4px;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.4;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--cbl-body-font);
  margin: 0;
  color: var(--cbl-text);
  background: linear-gradient(90deg, var(--cbl-white) 0%, var(--cbl-white) 50%, var(--cbl-bg-gray) 50%, var(--cbl-bg-gray) 100%);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2.5rem 0;
  padding: 0;
}

a {
  color: var(--checkbox-blue);
}

code,
samp,
kbd {
  font-family: var(--cbl-monospace);
  font-size: 0.875rem;
  text-align: left;
  padding: 0 2px;
}

pre {
  font-family: var(--cbl-monospace);
  font-size: 0.875rem;
  margin: 1.75rem 0;
  overflow: auto;
  padding: 0.5rem 0 0.5rem 0.75rem;
  background-color: var(--cbl-code-bg);
}

/* Override 'code' css rules if using 'pre > code' markup. */
pre > code {
  padding: 0px;
}

/* single margin directions */
h1,h2,h3,h4,h5,h6,hgroup,ul,ol,dd,p,figure,pre,table,fieldset,hr {
  margin-top: 0;
  margin-bottom: 1.4rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--cbl-display-font);
}


/* basic component styles */

.page {
  margin: 0 auto;
  max-width: 800px;
}

.sidebar {
  font-family: var(--cbl-display-font);
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: scroll;

  width: var(--sidebar-width);
  padding: 2rem 2rem 1rem;
}
.sidebar nav {
  margin-bottom: 1.5rem;
}
.sidebar h3 {
  line-height: 1;
  margin-bottom: 0.75rem;
}
.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar li {
  font-size: 0.875rem;
}
.sidebar li:not(:last-child) {
  margin-bottom: 0.125rem;
}
.sidebar li > ul {
  margin-left: 1rem;
}
.sidebar li > ul:last-child {
  margin-bottom: 0.5rem;
}

.checkbox-logo {
  margin-bottom: 3rem;
  min-height: 120px; /* prevents page shift once the checkboxes load */
}
.checkbox-logo input {
  cursor: pointer;
}

.main {
  padding: 2rem;
  background: #fafafa;
  margin-left: var(--sidebar-width);
}

/* Increase the heading sizes in main */
.main h2 {
  font-size: 1.75rem;

  /* I'm breaking my own 'single-direction margins' rule here
     to add a bit of space in between 'sections' of the docs,
     without adding additional markup. Sorry! */
  padding-top: 1em;
}
.main h3 {
  font-size: 1.375rem;
}
.main h4,
.main h5,
.main h6 {
  font-size: 1.125rem;
}

/* adjust page layout for mobile */
@media (max-width: 33rem) { /* 33rem = 528px */
  .sidebar {
    position: initial;
    overflow: initial;
    width: 100%;
  }
  .checkbox-logo {
    display: none;
  }
  .main {
    margin-left: 0;
  }
}

.title {
  font-family: var(--cbl-display-font);
  font-size: 5.25rem;
  letter-spacing: 1px;
  line-height: 0.8;
  word-break: break-all;
  margin-bottom: 1.125rem;
}

.subtitle {
  font-family: var(--cbl-display-font);
  margin-bottom: 2.25rem;
  letter-spacing: 0.5px;
}
h2.subtitle {
  /* needed a bit more specificity for these rules */
  font-size: 1.95rem;
  padding: 0;
}

@media (max-width: 50rem) { /* 50rem = 800px */
  .title {
    font-size: 2.5rem;
  }
  .subtitle {
    font-size: 1.25rem;
  }
}

.demobox {
  margin-bottom: 3rem;
}

.demoframe {
  width: 100%;
  margin: 0 0 0.5rem var(--demo-option-border-thickness);
}

h3.demo-title { /* we're using this element selector for additional specificity */
  text-align: center;
  font-size: 14px;
  margin: 4px;
}

.demobox-form {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(171px, auto));
}
.demo-thumbnail {
  width: 100%;
  max-height: 100%;
  display: block;
  border: 1px solid #999;
}
.demo-option {
  font-family: var(--cbl-display-font);
  font-size: 12px;
  cursor: pointer;
  border: var(--demo-option-border-thickness) solid transparent;
  background-size: cover;
  position: relative;
}
.demo-option:hover {
  border: 4px solid #e2e2e2;
}
.demo-name {
  position: absolute;
  padding: 2px 8px;
  border: 1px solid transparent;
  background: var(--checkbox-blue);
  background-clip: padding-box;
  color: white;
}

.demobox input[type="radio"]:checked + label .demo-name {
  border-left: 1px solid white;
  border-top: 1px solid white;
}

.demobox input[type="radio"]:checked + label .demo-thumbnail {
  border: 1px solid white;
}

.demobox input[type="radio"]:checked + label {
  border: var(--demo-option-border-thickness) solid var(--checkbox-blue);
}

.demobox input[type="radio"]:checked:focus + label {
  border: var(--demo-option-border-thickness) solid var(--demo-focus-color);
}

/* Mouse-users see the normal color when clicking on an option instead of the focus-color */
.no-focus .demobox input[type="radio"]:checked:focus + label {
  border: var(--demo-option-border-thickness) solid var(--checkbox-blue);
}

/* utilities */
.visuallyhidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}


/* Recurse Center Badge */
.rc-text {
  font-size: 0.85em;
  cursor: pointer;
  display: inline-block;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.rc-text strong {
  font-weight: bold;
}

.rc-text a {
  color: var(--cbl-text);
  text-decoration: none;
}

.rc-text i.icon-svg svg {
  width: 1em;
  display: inline-block;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}

.rc-text i.icon-svg svg path {
  fill: #ff6060;
}

.rc-text .green,
.rc-text:hover a,
.rc-text:focus a {
  color: #61ae24;
  text-decoration: none;
}
